:root {
  --cor-primaria-clara: #b39ddb; /* Roxo claro */
  --cor-primaria: #7e57c2; /* Roxo médio */
  --cor-primaria-escura: #512da8; /* Roxo escuro */

  --cor-secundaria-clara: #80deea; /* Azul claro */
  --cor-secundaria: #00bcd4; /* Azul médio */
  --cor-secundaria-escura: #008394; /* Azul escuro */

  --cor-fundo-padrao: #e8f5e9; /* Verde claro para fundo */

  --cor-texto-padrao: #004d40; /* Verde escuro para texto padrão */
  --cor-texto-claro: #ffffff; /* Branco para texto claro */

  --cor-info: #42a5f5; /* Azul info */
  --cor-sucesso: #66bb6a; /* Verde sucesso */
  --cor-aviso: #ffa726; /* Laranja aviso */
  --cor-erro: #ef5350; /* Vermelho erro */

  --cor-cinza: #cfd8dc; /* Cinza claro */


}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root, body, html{
  min-height: 100vh;
}